<%= turbo_frame_tag dom_id(@calculator) do %>
  <section class="bg-gray-50 dark:bg-gray-900">
    <div class="flex flex-col items-center justify-center px-4 py-6 mx-auto">
      <div class="w-full bg-white rounded-lg shadow dark:border md:mt-0 sm:max-w-md xl:p-0 dark:bg-gray-800 dark:border-gray-700">
        <div class="p-2 space-y-4 sm:p-4">
          <h1 class="py-4 text-xl font-bold leading-tight tracking-tight text-center text-gray-900 md:text-2xl dark:text-white">
            Editar Cálculo de Gravidez
          </h1>
          <%= form_with model: [current_user, @calculator], url: pregnancy_calculator_path(@calculator), method: :patch, data: { turbo_frame: dom_id(@calculator) } do |form| %>
            <div class="mb-4 space-y-2">
              <%= form.label :last_menstrual_period_date, "Data da Última Menstruação", class: "block text-gray-800 dark:text-gray-100" %>
              <%= form.date_field :last_menstrual_period_date, 
                  class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 
                  focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 
                  dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" %>
            </div>
            <%= form.submit "Atualizar", class: "w-full text-white bg-pink-700 hover:bg-pink-800 focus:ring-4 focus:ring-pink-300 
                font-medium rounded-lg text-sm px-5 py-3 text-center dark:bg-pink-600 dark:hover:bg-pink-700 dark:focus:ring-pink-800" %>
          <% end %>
        </div>
      </div>
    </div>
  </section>
<% end %> 