<section class="bg-gray-50 dark:bg-gray-900">
  <div class="flex flex-col items-center justify-center px-4 py-6 mx-auto">
    <div class="w-full bg-white rounded-lg shadow dark:border md:mt-0 sm:max-w-md xl:p-0 dark:bg-gray-800 dark:border-gray-700">
      <div class="p-2 space-y-4 sm:p-4">

        <h1 class="my-4 text-xl font-bold leading-tight tracking-tight text-center text-gray-900 md:text-2xl dark:text-white">
          Calculadora de IMC
        </h1>
        <% if user_signed_in? %>
          <div class="container mx-auto p-4">
            <%= form_with model: [current_user, current_user.bmi_calculators.new], url: bmi_calculators_path, method: :post, local: true do |form| %>
              <div class="mb-4">
                <%= form.label :weight, "Peso (kg)", class: "block text-gray-800 dark:text-gray-100" %>
                <%= form.number_field :weight, step: 0.1, class: "mt-1 block w-full border-gray-300 rounded-md shadow-sm" %>
              </div>
              <div class="mb-4">
                <%= form.label :height, "Altura (cm)", class: "block text-gray-800 dark:text-gray-100" %>
                <%= form.number_field :height, step: 1, class: "mt-1 block w-full border-gray-300 rounded-md shadow-sm" %>
              </div>
              
              <%= form.submit "Calcular", class: "w-full text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800" %>
            <% end %>

            <%= turbo_frame_tag "latest_bmi_calculation" do %>
              <% if @latest_bmi_calculation %>
                <%= render partial: "bmi_calculators/calculation_result", locals: { calculator: @latest_bmi_calculation } %>
              <% end %>
            <% end %>
          </div>
        <% else %>
          <div class="container mx-auto p-4">
            <p class="text-gray-700">Por favor, faça login para acessar a calculadora.</p>
            <%= link_to 'Login', new_user_session_path, class: "w-full text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</section> 